<?php

return [
    'slack_token' => '',
    'google_drive_credentials_path' => __DIR__ . '/credentials.json',
    'shown_prefix' => 'shown_',
    'downloaded_files_temp_dir' => __DIR__ . '/tmp/',
    'channel_names' => '',
];
